@namespace SignumExplorer.Pages

@inject IJSRuntime JS
@inject IStringLocalizer<App> L

<div  id="chartdiv"> </div>

@code {


        protected override void OnAfterRender(bool firstRender)
    {


        JS.InvokeVoidAsync("CreateColumnChart");

        //base.OnAfterRender(firstRender);
    }

}
