@namespace SignumExplorer.Pages
@inject IJSRuntime JS
@inject IStringLocalizer<App> L


<div  id="chartpie"> </div>


@code {

        CountryInfo countryInfo = new();
    List<CountryInfo> countryInfos = new();

        protected override void OnAfterRender(bool firstRender)
    {

                countryInfos = countryInfo.GetCountryInfos();
        JS.InvokeVoidAsync("GeneratePieChart", countryInfos);


        //base.OnAfterRender(firstRender);
    }

}
